<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GlassdoorReviewsCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <GlassdoorReviewsCollector.Properties.Settings>
      <setting name="homepage" serializeAs="String">
        <value>https://www.glassdoor.com/Reviews/index.htm</value>
      </setting>
      <setting name="company_name_selector" serializeAs="String">
        <value>#KeywordSearch</value>
      </setting>
      <setting name="location_selector" serializeAs="String">
        <value>#LocationSearch</value>
      </setting>
      <setting name="form_selector" serializeAs="String">
        <value>#SrchHero &gt; div &gt; div.static-hph-hero-srch.acq-2414-home-cta-A &gt; div.search-bar.minimized &gt; div &gt; form</value>
      </setting>
      <setting name="search_button_selector" serializeAs="String">
        <value>#HeroSearchButton</value>
      </setting>
      <setting name="autocomplete_divs_selector" serializeAs="String">
        <value>.autocomplete-suggestions </value>
      </setting>
    </GlassdoorReviewsCollector.Properties.Settings>
  </userSettings>
</configuration>